<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="application" type="Mystique.Configuration.ApplicationConfiguration, Mystique.Configuration" />
    <section name="vpnSdk" type="Mystique.Configuration.VpnSdkConfiguration, Mystique.Configuration" />
    <section name="firebase" type="Mystique.Configuration.FirebaseConfiguration, Mystique.Configuration" />
    <section name="twitterApp" type="Mystique.Configuration.TwitterAppConfiguration, Mystique.Configuration" />
    <section name="googleApp" type="Mystique.Configuration.GoogleAppConfiguration, Mystique.Configuration" />
    <section name="facebookApp" type="Mystique.Configuration.FacebookAppConfiguration, Mystique.Configuration" />
    <section name="appleApp" type="Mystique.Configuration.AppleAppConfiguration, Mystique.Configuration" />
    <section name="updateService" type="Mystique.Configuration.UpdateServiceConfiguration, Mystique.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <application name="TouchVPN" trackingId="UA-56907699-22" />
  <vpnSdk carrierId="touchvpn" backendAddress="https://d2nzsmq1n84a8y.cloudfront.net/" serviceName="TouchVPN Management Service" />
  <updateService updateServicePipeName="TouchVPN_Update_Service" updateServiceListenerPipeName="TouchVPN_Update_Listener" updateServiceName="TouchVPN Update Service" />
  <firebase appKey="AIzaSyBAw-hTjkyR5OyqQccPVQHdNAdbJas_Lb0" authCallbackUrl="https://touchvpn-ios.firebaseapp.com/__/auth/handler" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>